<div class="form-group">
  <label for="firstname">firstname</label
  ><input type="text" #firstname id="firstname" class="form-control" />
</div>
<div class="form-group">
  <label for="lastname">lastname</label
  ><input type="text" #lastname id="lastname" class="form-control" />
</div>
<div class="form-group">
  <label for="contact">contact</label
  ><input type="text" #contact id="contact" class="form-control" />
</div>
<div class="form-group">
  <label for="email">email</label
  ><input type="text" #email id="email" class="form-control" />
</div>
<button
  (click)="addStddata()"
  class="btn btn-sm btn-primary btn-block text-white"
>
  Add Student
</button>
